.root-color {
    color: #022b6d;
}

.root-back {
    background-color: #022b6d;
}



/* initally when full size  */




.headerContact p,
.headerContact h5 a {
    color: white !important;
}

.headerContact .icon i {
    color: #022b6d !important;
}



/* when scrool  */

.navbar.validnavs.navbar-default.scrolled .navbar-nav li a {
    color: black !important;
}



.navbar.validnavs.navbar-default.scrolled .headerContact p,
.navbar.validnavs.navbar-default.scrolled .headerContact h5 a {
    color: #022b6d !important;
}

.navbar.validnavs.navbar-default.scrolled .headerContact .icon i {
    color: black !important;
}

.navbar.validnavs.navbar-default .navbar-nav li a {
    color: white !important;
}

.navbar.validnavs.navbar-default .navbar-nav .dropdown .dropdown-menu a {
    color: black !important;
}



/* for small size  */
@media (max-width: 1024px) {

    .navbar.validnavs.navbar-default .navbar-nav li a {
        color: black !important;
    }


}